@keyframes type {
    0% {
      width: 0;
    }
  }
  @keyframes caret {
    50% {
      box-shadow: 0.6em 0 0 transparent;
    }
  }
  
  @keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

 p::selection, h1::selection {
  background-color:#a2690b;;
 }

 h2::selection, .text-project::selection  {
   background-color: #d9d9d9;
 }