/* Reset */
:root {
  /* REM agora equivale a 10px */
  font-size: 62.5%;
  /* colors */
  --text--color: #fff;
  --main--color: #a2690b;
  --background--color: #d9d9d9;
  --banner--color: #0f171f;
  --opac--color: rgb(73, 73, 73);
}

.hiden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

ul,
li {
  display: flex;
}

h2,
h1 {
  font-family: "Raleway", sans-serif;
}

p,
a {
  font-family: "Lato", sans-serif;
}

a {
  color: var(--text--color);
}

body {
  background-color: var(--background--color);
}

button {
  background: transparent;
  border: none;
}
/* Header */

header {
  max-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;

  background-color: rgba(255, 255, 255, 0.682);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#tittle {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  float: left;
}

#tittle img {
  max-width: 2rem;
  margin-right: 0.2rem;
}

#tittle span {
  font-weight: 700;
  margin-left: 0.2rem;
}

#tittle a {
  color: var(--banner--color);
  font-weight: 500;
  transition: color 0.3s;
}

#tittle a:hover {
  color: var(--main--color);
}

nav#social {
  clear: both;
}

#social ul li a img {
  max-width: 2rem;
  margin: 2.3rem;
  transition: transform 0.2s;
}

#social ul li a img:hover {
  transform: rotate(45deg);
}

/* Nav-Bar */

#nav-bar {
  display: none;
}

#nav-bar ul li a {
  color: var(--banner--color);
  font-size: 1.5rem;
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.3s;
}

#nav-bar ul li a:hover {
  border-bottom: 0.2rem solid var(--main--color);
}

#nav-bar ul {
  display: flex;
  gap: 5rem;
}

/* sidebar menu */

.sidebar {
  inset: 0;
  position: absolute;
}

.sidebar.open {
  position: absolute;
  background-color: #0000009a;
  inset: 0;
  display: grid;
  place-content: center;
  height: 100vh;
}

.sidebar ul,
.sidebar li {
  display: block;
  margin-bottom: 5rem;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.sidebar ul li a {
  transition: font-size 0.6s, color 0.6s;
}

.sidebar ul li a:hover {
  border-bottom: 0.5rem solid var(--main--color);
  color: var(--background--color);
  font-size: 5.2rem;
}

.close {
  margin: 2rem;
  position: absolute;
  transition: transform 0.3s;
}
.close:hover {
  transform: scale(1.2);
}

/* Menu Burguer */

.burger {
  transition: transform 0.5s;
}

.burger:hover {
  transform: rotate(90deg);
}

/* Home */

#home {
  background-color: var(--banner--color);
  color: var(--text--color);
}

/* Home Text */

#home .text-main {
  padding-top: 5rem;
  padding-left: 2.5rem;
  margin-bottom: 5rem;
}

#home .text-main h2 {
  color: var(--main--color);
  font-size: 2rem;
}

#home .text-main h1 {
  font-size: 5.5rem;
  margin: 3.5rem 0 3.5rem 0;
  box-shadow: 0.2em 0 0 var(--main--color);
  width: 35rem;
  overflow: hidden;
  color: var(--text--color);
  white-space: nowrap;
  animation: caret 0.5s step-end infinite alternate, type 5s steps(23, end);
}

#home .text-main p {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--background--color);
  margin-bottom: 5rem;
}

#home .text-main a {
  border-radius: 1.5rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--main--color);
  color: var(--text--color);
}

#home .text-main #cv {
  background-color: transparent;
  border: 0.2rem dotted var(--main--color);
}

#home .buttons {
  display: flex;
  gap: 2rem;
}

/* Last Project Card */

#home .lastProject {
  background-color: var(--text--color);
  width: 25rem;
  height: 35rem;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  text-align: center;
  line-height: 0;
}

#home .lastProject h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--banner--color);
  font-size: 1.2rem;
  margin-left: 15%;
}

#home .lastProject h2 svg {
  max-width: 2.5rem;
}


#home .lastProject p {
  color: var(--main--color);
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

#home .lastProject img {
  max-width: 20rem;
  transition: transform 1s;
}

#home .lastProject img:hover {
  transform: rotate(360deg);
}

/* Rodape text */
.rodape {
  color: var(--text--color);
  padding: 2.5rem;
  font-size: 1.5rem;
  background-color: var(--banner--color);
}

/* About */

#about h2 {
  color: var(--main--color);
  margin-top: 5rem;
  font-size: 2.8rem;
}

#about h1 {
  font-size: 6rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
#about #text-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#about .text {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  color: var(--opac--color);
}

#about .text b {
  color: var(--main--color);
}

#imgs-about {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 17rem;
}

#imgs-about .img-thumb {
  border-radius: 1rem;
  min-width: 16rem;
  min-height: 9rem;
  max-width: 64rem;
  max-height: 36rem;
}

.img-thumb {
  transition: transform .3s;
}

#imgs-about:hover > :not(:hover) {
  transform: scale(.8);
}

#works {
  height: 100%;
}

#works h1 {
  margin: 2.5rem;
  font-size: 4rem;
}

.block-projects {
  margin-top: 5rem;
}

.project-block {
  width: 30rem;
  height: 40rem;
  margin: auto;
  padding: 2.5rem;
  background-color: var(--banner--color);
  color: var(--text--color);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 1rem;
  margin-bottom: 5rem;
  transition: transform 0.3s;
}
/* Animacao */
.project-block {
  --border-size: 3px;
  --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        var(--banner--color),
        var(--banner--color) 50%,
        var(--banner--color)
      ),
    conic-gradient(from var(--border-angle), transparent 20%, #F0A329 , #0B5BA3);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 5s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}



.project-block:hover {
  transform: scale(1.1);
}

.project-block h2 {
  font-size: 2.5rem;
}

.project-block p {
  font-size: 1.5rem;
  color: var(--background--color);
}

.project-block .link-project-block img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.project-block .link-project-block {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  background-color: var(--main--color);
  width: 80%;
  justify-content: center;
  border-radius: 1rem;
  margin-left: 8%;
  transition: transform 0.3s;
}

.project-block .link-project-block:hover {
  transform: scale(1.1);
}
.project-block .technologys {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
.project-block span {
  background-color: var(--opac--color);
  padding: 1rem;
  transition: background-color 0.3s;
}

.project-block span:hover {
  background-color: var(--main--color);
}

footer {
  height: 10rem;
  background-color: var(--banner--color);
  display: flex;
  justify-content: center;
  color: var(--text--color);
}

footer p {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 2.5rem;
  font-weight: 500;
}

footer p b {
  color: var(--main--color);
}

footer img {
  width: 5rem;
  height: 5rem;
}
